{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [
    covertool,
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    rebar3_audit,
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc
]}.

{erlfmt, [write]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, [
    {providers, create, 1},
    {rebar_api, info, 2},
    {rebar_api, warn, 2},
    {rebar_app_info, dir, 1},
    {rebar_app_info, out_dir, 1},
    {rebar_dir, root_dir, 1},
    {rebar_state, add_provider, 2},
    {rebar_app_info, name, 1},
    {rebar_state, command_parsed_args, 1},
    {rebar_state, command_parsed_args, 2},
    {rebar_state, project_apps, 1},
    {rebar_state, current_app, 1},
    {rebar_prv_eunit, do, 1},
    {rebar_prv_common_test, do, 1}
]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns]},
    {exclude_mods, [
        rebar3_stale,
        rebar3_stale_eunit,
        rebar3_stale_ct,
        rebar3_stale_manifest,
        rebar3_stale_deps
    ]}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {source_url, <<"https://github.com/Taure/rebar3_stale">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/Taure/rebar3_stale">>},
    {api_reference, true}
]}.

{cover_enabled, true}.
